

 #map {
   width: 1000px;
   height: 1000px;
   background-color: white;
 }

#message {
     display:none;
     background: #f1f1f1;
     color: #000;
     position: relative;
     padding: 20px;
     margin-top: 10px;
 }

 #message p {
     padding: 10px 35px;
     font-size: 18px;

     .valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
