<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Trail Quest{% endblock %}</title>
<!--     <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="http://code.jquery.com/jquery.js"></script>

</head>
<body>

    <h1>Trail Quest 🌲 ⛰️</h1>
    
    <ul>
  {% for message in get_flashed_messages() %}
   <p>{{ message }}</p>
  {% endfor %}
</ul>
    {% block content %} {% endblock %}
<footer>
	Trail Quest Ⓒ 2018 Sarah Young
</footer>
</body>

</html>