{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

	<h2></h2>
	<h4>Let's get trekkin'. Fill out the boxes below to start.</h4>
	<form action='/trail_selector'>
		<i><h4>Find trails near...</h4></i>
		City:<br>
	    <input type="text" name="city"><br>
	  
	    State:<br>
	    <input type="text" name="state"><br>
	  
	   <!--  Distance from address:<br>
	    <input type="text" name = "radius"> -->

	    <input type="submit">
	    <br><br><br>
	</form>

{% endblock %}