{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

	<h2></h2>
	<h4>Let's get trekkin'. Fill out the boxes below to start.</h4>
	<form action='/trail_selector' id="trailSelector">

		<i><h4>Find trails near...</h4></i>
		City:<br>
	    	<input type="text" name="city" id="cityname" required><br>

	    State:<br>
	    	<input type="text" name="state" id="statename" required><br>

	    Distance from location:<br>
	    <div class="slidecontainer">
	 	 		<input type="range" min="1" max="25" value="5" class="slider" id="radius-selection" name="radius">
	 	 		<span id="radius"></span>
			</div>

	    Trail length:<br>
	    <i>(in miles)</i><br>
		    <div class="slidecontainer">
	 	 		<input type="range" min="1" max="30" value="15" class="slider" id="trek_length_selection" name="trek_length">
	 	 		<span id="trek_length"></span>
			</div>

	    Difficulty rating:
		    <select name="trail_difficulty" id="traildifficulty">
			  <option value="no-preference">No preference</option>
			  <option value="easy">Easy</option>
			  <option value="moderate">Moderate</option>
			  <option value="difficult">Difficult</option>
			</select><br>

	    	<input type="submit"</input>
	    	<br><br><br>
	</form>

	<button type="button" id="asynchronousClick">Click Me!</button>

	<div id="selectedtrails1"></div>

	<div id="selectedtrails2"></div>

	<div id="selectedtrails3"></div>

	<div id="map"></div>
<script>

 $('#asynchronousClick').on('click', getTrails);

function getTrails(evt) {

		let data = {"city": document.getElementById("cityname"),
								"state": document.getElementById("statename"),
								"radius": document.getElementById("radius-selection"),
								"traillength": document.getElementById("trek_length_selection"),
								"traildifficulty": document.getElementById("traildifficulty")
		} // end of data object

			$.ajax({
				url: "/trails_asychronous",
				type: "POST",
				data: $('#trailSelector').serialize(),
				processData: false,
				cache: true,
				success: function(response) {
					displayTrails(response);
					initMap(response);
					markerPlacement(response);
					// Calling displayTrails function to display three trails
					// Calling initMap function to display Google Map
				}, // end of response function

			  error: function(error) {
					console.log(error);
			  } // end of error handling function
			 }); // end of AJAX deets section
		}; //end of function getTrails

function displayTrails(response) {

	let infoForUser = document.getElementById("selectedtrails1").innerHTML

	if (response == null) {
		infoForUser = "Hmm, no trails are available. Maybe try another search?";
	} //end of if statement

	else if (response.length < 1) {
		infoForUser = "Hmm, no trails are available. Maybe try a wider radius?";
	} //end of if/else statement


  else {
		let trailDetails, trailName, trailPicture, trailLength, trailDifficulty;

		for (let i = 0; i < response.length; i += 1) {
		    	trailName = response[i].name
		    	console.log(trailName);
		    	trailDetails = response[i].summary
		    	console.log(trailDetails);
		    	trailPicture = response[i].imgSmall
		    	console.log(trailPicture);
		    	trailLength = response[i].length
		    	console.log(trailLength);
		    	trailDifficulty = response[i].difficulty
		    	console.log(trailDifficulty);

	    		document.getElementById("selectedtrails" + (i + 1)).innerHTML =
					("Trail Name: " +trailName + "<br>" + trailDifficulty + "<br>" + trailLength + "<br>" +
					trailDetails + "<br>" + "<img src=" + trailPicture+ ">" + "<br> <button type='button' id='trail'"
					+ (i + 1) + ">Select</button>");
		} //for loop
	} //end of else statement
} //end of function


function initMap(response) {
		console.log(response);
		console.log("Here");
		let trailLong = response[0].city_long;
		let trailLat = response[0].city_lat;
		console.log(trailLong);
		console.log(trailLat);
		// lat and lng are not coming through as integers :(
	  var location = {lat: trailLat, lng: trailLong}; //latitude and longitude for city
	  var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 10,
	    center: location
		}); // end of jQuery statement

	  var marker = new google.maps.Marker({
	    position: location,
	    map: map
		}); // end of marker statement
			// markerPlacement(response);
		let trailMarker; // adding marker as a variable in the namespace

		for (let j = 0; j < response.length; j += 1) {
			trailMarker = new google.maps.Marker({
			position: new google.maps.LatLng(response[j].latitude, response[j].longitude),
			map: map,
			title: 'Trail: ' + response[j].name,
			icon: '/static/img/hikingIcon.png',
			animation: google.maps.Animation.DROP,
			});
		} // end of trailMarker for loop
		console.log('Here: radius');
		let circle = new google.maps.Circle({ // circle for user chosen radius on map
			map: map,
			radius: response[0].radius_in_meters,
			fillColor: '#b394d1',
			strokeWeight: .1
		}); // end of circle statement
		circle.bindTo('center', marker, 'position');
		drop(response);
} //end of initMap function

					        // Function for adorable marker drop :3
								// TODO: Refactor to work without trailsJSON
function drop(response) {
  for (var k = 0; k < response.length; k++) {
    setTimeout(function() {
      addMarkerMethod();
    }, k * 200);
  }
}



					        // Function to add 'bounce' to markers

					        // function toggleBounce() {
					        //   if (trailMarker.getAnimation() !== null) {
					        //     trailMarker.setAnimation(null);
					        //   } else {
					        //     trailMarker.setAnimation(google.maps.Animation.BOUNCE);
					        //   }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT4L9G5iunkBWCBwqqm6Qdt7-0hG34L6Y&callback=initMap">
</script>

			<script src='../static/homepage.js' type="text/javascript">
			</script>

{% endblock %}
