{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

	<h2></h2>
	<h4>Let's get trekkin'. Fill out the boxes below to start.</h4>
	<form action='/trail_selector'>
		
		<i><h4>Find trails near...</h4></i>
		City:<br>
	    	<input type="text" name="city" required><br>
	  
	    State:<br>
	    	<input type="text" name="state" required><br>
	  
	    Distance from <span id="city" name=></span> <span id="state"></span>:<br>
	    <i>(defaults to 25 miles if not selected)</i><br>
	    	<input type="text" name ="radius"><br>

	    Trail length:<br>
	    <i>(in miles)</i><br>
		    <div class="slidecontainer">	
	 	 		<input type="range" min="1" max="30" value="15" class="slider" id="trek_length_selection" name="trek_length">
	 	 		<span id="trek_length"></span>
			</div>

			<script>

					var slider = document.getElementById("trek_length_selection");
					var output = document.getElementById("trek_length");
					output.innerHTML = slider.value; // Display the default slider value

					// Update the current slider value (each time you drag the slider handle)
					slider.oninput = function() {
					    output.innerHTML = this.value;
					    						}
			</script>

			
	    Difficulty rating:
		    <select name="trail_difficulty">
			  <option value="no-preference">No preference</option>
			  <option value="easy">Easy</option>
			  <option value="moderate">Moderate</option>
			  <option value="difficult">Difficult</option>
			</select><br>

	    	<input type="submit">
	    	<br><br><br>
	</form>

{% endblock %}	