 <link rel="stylesheet" href="/static/css/styles.css">


{% extends 'base.html' %}
{% block title %}
Select Your Trail
{% endblock %}
{% block content %}


<div>Trails near {{ city }}, {{ state }}:</div>
	<ul>
	  {% for trail in selected_trails %}
		<form action="/trek">

		    <li>Trail: {{ trail.name }}</li>
		    <li>Trail length: {{ trail.length }}</li>
		    <li>Difficulty: {{ trail.difficulty }}</li>
		    </ul>
		    {% if trail.imgMedium %}
		    <img src="{{ trail.imgMedium }}">
		    {% endif %}
		    <input type="hidden" value="{{ trail.id }}" name="trail_id"> 
		    <input type="submit" value= 'I want to go to there!' name="chosen_trail">
		</form>




	  {% endfor %}
	
 <div id="map"></div>
    <script>
      function initMap() {
        var location = {lat: 72, lng: 122 }; //latitude and longitude for city
        console.log(location);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT4L9G5iunkBWCBwqqm6Qdt7-0hG34L6Y&callback=initMap">
    </script>



{% endblock %}






