{% extends 'base.html' %}
{% block title %}
Select Your Trail
{% endblock %}
{% block content %}

<div>Trails near {{ city }}, {{ state }}:</div>
	<ul>
	  {% for trail in selected_trails %}
		<form action="/trek">

		    <li>Trail: {{ trail.name }}</li>
		    <li>Trail length: {{ trail.length }}</li>
		    <li>Difficulty: {{ trail.difficulty }}</li>
		    </ul>
		    {% if trail.imgMedium %}
		    <img src="{{ trail.imgMedium }}">
		    {% endif %}
		    <input type="hidden" value="{{ trail.id }}" name="trail_id"> 
		    <input type="submit" value= 'I want to go to there!' name="chosen_trail">
		</form>
	  {% endfor %}
	

{% endblock %}






