{% extends 'base.html' %}
{% block title %}
Your adventure begins!
{% endblock %}
{% block content %}
	<h3>Carpe Diem! Start your adventure.</h3>

	<div id="trail-details">
		Trail name: {{ trek.trail_name }} <br>
		Trail length: {{ trek.trail_length }} Difficulty: {{ trek.trail_difficulty }}
	</div>


	{% if trail_conditions %}
		<div id="trail-conditions">Trail conditions today: 
			As of {{ trail_conditions[3] }} {{ trail_conditions[0] }} Status:<br>
			{{ trail_conditions[2] }} {{ trail_conditions[1] }} 
		</div>
	{% endif %}

	<div id='trail-description'>
	Description: {{ trek.trail_description }}
	</div>

	<div id="trail-picture"><img src="{{ trek.trail_picture }}"></div>

<!-- 	<iframe
	  width="450"
	  height="250"
	  frameborder="0" style="border:0"
	  src= "{{ trail_map }}" >
	</iframe> -->

{% endblock %}


<!-- Add conditions information and reference trail from ID after trail object is logged in data base -->
<!-- Trail conditions API: https://www.hikingproject.com/data/get-conditions?ids=7000108,7002175,7005207,7001726,7005428&key=200216496-ee00d24940619fecc34652d5000f6247 -->






